/node_modules
/public
/storage/*.key
/vendor
/dist
.angular/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.log
*.tmp

npm-debug.log
yarn-error.log


/.fleet
/.idea
/.vscode