.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.15rem;

}

.navbar-brand i {
    margin-right: 5px;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none;
}

.logo {
    max-width: 200px;
}

.content {
    flex: 1;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

   