<header>
  <nav class="navbar navbar-expand-lg bg-primary shadow-sm" id="customNavbar">
    <div class="container-fluid d-flex flex-row gap-4 p-2">
      <a class="navbar-brand" routerLink="/"
        routerLinkActive="active">
        <img src="/assets/img/logo.webp" class="logo ms-1" alt="">
      </a>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarContent">
        <div class="navbar-nav d-flex flex-column flex-sm-row gap-2 gap-sm-4 w-100">
          <a class="nav-link text-light ms-4 ms-lg-0" routerLink="/vuelos" routerLinkActive="active">Vuelos</a>
          <a class="nav-link text-light" routerLink="/hoteles" routerLinkActive="active">Hoteles</a>
          <a class="nav-link text-light" routerLink="/alquilercoches" routerLinkActive="active">Alquiler de coches</a>

          <a class="nav-link text-light ms-sm-auto" [href]="getBackendUrl()"
            *ngIf="this.logeado=='invitado'||this.logeado==''">
            <i class="bi bi-door-open-fill"></i> Identificarse
          </a>

          <p *ngIf="this.logeado=='Cargando...'" class="nav-link text-light m-0 ms-sm-auto">
            {{ this.logeado }}
          </p>

          <div class="dropdown inline-block ms-sm-auto"
            *ngIf="this.logeado!='invitado'&&this.logeado!=''&&this.logeado!='Cargando...'">
            <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-people-fill me-2"></i>{{this.logeado}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li>
                <a [href]="getBackendUrl()+'/cuenta'" class="dropdown-item">Mi cuenta</a>
              </li>
              <li>
                <a [href]="getBackendUrl()+'/reservas'" class="dropdown-item">Mis reservas</a>
              </li>
            </ul>
          </div>

          <a class="nav-link text-light" href="http://127.0.0.1:8000">Soporte</a>
        </div>

      </div>
    </div>
  </nav>
</header>


<main class="bg-body-secondary">
  <router-outlet></router-outlet>
</main>
<footer class="footer bg-primary d-flex flex-column">
  <div class="w-100 d-flex flex-column flex-md-row justify-content-md-around text-center p-4">
    <ul class="list-unstyled me-3">
      <li><a class="text-decoration-none text-white" href="#">Política de cookies</a></li>
      <li class="mt-3"><a class="text-decoration-none text-white" href="#">Términos de servicio</a></li>
    </ul>
    <ul class="list-unstyled me-3">
      <li><a class="text-decoration-none text-white" href="#">Política de privacidad</a></li>
      <li class="mt-3"><a class="text-decoration-none text-white" href="#">Sobre nosotros</a></li>
    </ul>
    <ul class="list-unstyled">
      <li><a class="text-decoration-none text-white" href="#">Preguntas frecuentes</a></li>
      <li class="mt-3"><a class="text-decoration-none text-white" href="#">Información de la empresa</a></li>
    </ul>
  </div>

  <div class="row w-100">
    <p class="col text-center text-light">
      <i class="bi bi-c-circle-fill me-2"></i>Todos los derechos reservados
    </p>
  </div>
</footer>