<div class="container-fluid py-5 d-flex flex-column gap-5">
    <h2 class="text-center">¡Tus vacaciones están a punto de empezar!</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6  col-10">
            <form (ngSubmit)="onSubmit()" #formBusqueda="ngForm" class="d-flex flex-column gap-3">
                <div class="d-flex flex-column flex-md-row gap-2">
                    <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control" placeholder="Nombre">
                    <input type="text" class="form-control" name="localizacion" [(ngModel)]="localizacion"
                        placeholder="Localizacion">
                    <input type="number" class="form-control" name="estrellas" [(ngModel)]="estrellas"
                        placeholder="Estrellas" min="1" max="5">

                </div>
                <div class="d-flex flex-column flex-md-row  justify-content-evenly">
                    <div class="d-flex flex-row">
                        <label for="hora_apertura" class="form-label">Hora de entrada:</label>
                        <input id="hora_apertura" type="time" class="form-control" name="hora_apertura"
                            [(ngModel)]="hora_apertura" placeholder="Hora de entrada">
                    </div>
                    <div class="d-flex flex-row">

                        <label class="form-label" for="hora_cierre">Hora de salida:</label>
                        <input type="time" id="hora_cierre" class="form-control" name="hora_cierre"
                            [(ngModel)]="hora_cierre" placeholder="Hora de salida">
                    </div>

                </div>
                <div>
                    <p>Servicios de comida</p>
                    <mat-form-field appearance="fill">
                        <mat-label>Selecciona opciones</mat-label>
                        <mat-select [(value)]="opcionesSeleccionadas" multiple>
                            <mat-option value="Todo incluido">
                                Todo incluido
                            </mat-option>
                            <mat-option value="Desayuno incluido">
                                Desayuno incluido
                            </mat-option>
                            <mat-option value="Desayuno y cena incluidos">
                                Desayuno y Cena incluidos
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <p>Opciones seleccionadas: {{ opcionesSeleccionadas }}</p>
                </div>
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options">
                </ngx-slider>
                <div class="d-flex flex-row gap-3 mt-3">
                    <button class="btn btn-secondary" type="button"
                        (click)="limpiarFormulario(formBusqueda)">Limpiar</button>
                    <button class="btn btn-primary" type="submit" [disabled]="formBusqueda.invalid">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="w-75 d-flex flex-wrap gap-3 m-auto" *ngIf="buscado&&filtrar.length>0">
        <h3 class="w-100">Tus resultados</h3>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <div *ngFor="let filtra of filtrar" class="border border-secondary bg-white p-2 rounded card">
                <a [routerLink]="['/detalle-hotel', filtra.id]" routerLinkActive="active"
                    class="text-decoration-none text-black">
                    <ng-container *ngFor="let star of stars(filtra.estrellas)">
                        ⭐
                    </ng-container>
                    <img [src]="filtra.imagenes[0]" alt="Imagen hotel filtra.nombre"
                        style="width: 300px;height:200px;object-fit: cover;" class="img-fluid">
                    <div class="d-flex flex-row gap-5 mt-2">
                        <p><b>{{filtra.nombre}}</b></p>
                       
                    </div>

                    <p><i class="bi bi-geo-alt-fill"></i>{{filtra.direccion}}, {{filtra.localizacion}}</p>

                     <div class="d-flex flex-row  gap-5">
                        <p>Capacidad total: {{filtra.capacidad}}</p>
                        <b *ngIf="precioHabitacion(filtra.id) as habitacion">
                            <span *ngIf="habitacion.descuento > 0" class="text-decoration-line-through text-muted">
                                {{ habitacion.precio_original_noche }}€
                            </span>
                            <span>{{ habitacion.precio_noche }}€</span>
                        </b>

                    </div>
                    <div *ngIf="agotado">
                        <p class="text-danger">Agotado</p>
                    </div>

                </a>
            </div>
        </div>
    </div>
    <div class="w-75 d-flex flex-column gap-3 m-auto" *ngIf="!buscado||filtrar.length==0">
        <h4 class="mb-5" *ngIf="buscado&&filtrar.length==0">No se han encontrado resultados</h4>
        <h3 class="w-100">¿Te has fijado en nuestros mejores hoteles?</h3>
        <p>{{cargando}}</p>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <div *ngFor="let hotel of hoteles.slice(0,20)" class=" p-2 rounded card">
                <a [routerLink]="['/detalle-hotel', hotel.id]" routerLinkActive="active"
                    class="text-decoration-none text-black">
                    <ng-container *ngFor="let star of stars(hotel.estrellas)">
                        ⭐
                    </ng-container>
                    <img [src]="hotel.imagenes[0]" alt="Imagen hotel hotel.nombre"
                        style="width: 300px;height:200px;object-fit: cover;" class="img-fluid">
                    <div class="d-flex flex-row gap-5 mt-2">
                        <p><b>{{hotel.nombre}}</b></p>

                    </div>

                    <p><i class="bi bi-geo-alt-fill"></i>{{hotel.direccion}}, {{hotel.localizacion}}</p>

                    <div class="d-flex flex-row  gap-5">
                        <p>Capacidad total: {{hotel.capacidad}}</p>
                        <b *ngIf="precioHabitacion(hotel.id) as habitacion">
                            <span *ngIf="habitacion.descuento > 0" class="text-decoration-line-through text-muted">
                                {{ habitacion.precio_original_noche }}€
                            </span>
                            <span>{{ habitacion.precio_noche }}€</span>
                        </b>

                    </div>
                    <div *ngIf="agotado">
                        <p class="text-danger">Agotado</p>
                    </div>

                </a>
            </div>
        </div>
    </div>


</div>