<div class="container-fluid py-5 d-flex flex-column gap-5">
    <h2 class="text-center">¡Tus vacaciones están a punto de empezar!</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ubicación">
                    <select name="estrellas" id="">
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                    <input class="form-control" type="number" placeholder="Num personas" name="personas">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="w-75 d-flex flex-column gap-3 m-auto">
        <h4 class="mb-5">No se han encontrado resultados</h4>
        <h3 class="w-100">¿Has visto nuestros mejores hoteles?</h3>
        <p>{{cargando}}</p>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <div *ngFor="let hotel of hoteles.slice(0,20)" class="border border-secondary bg-white p-2 rounded cars">
                <a [routerLink]="['/detalle-hotel', hotel.id]" routerLinkActive="active"
                    class="text-decoration-none text-black">
                    <img [src]="hotel.imagenes[0]" alt="Imagen hotel hotel.nombre"
                        style="width: 300px;height:200px;object-fit: cover;">
                        <p><b>{{hotel.nombre}}</b></p>
                    <div class="d-flex flex-row justify-content-between w-75">
                        <ng-container *ngFor="let star of [].constructor(hotel.estrellas)">
                            ⭐
                        </ng-container>
                        <p><i class="bi bi-geo-alt-fill"></i> {{hotel.localizacion}}</p>
                    </div>

                    <!-- <p>Marca: {{coche.marca}}</p>
                    <p>Modelo: {{coche.modelo}}</p>
                    <b *ngIf="coche.descuento==0" class="fs-5">{{coche.precio}}€</b>
                    <b *ngIf="coche.descuento>0" class="fs-5"><span
                            class="text-decoration-line-through text-muted">{{+coche.precio / (1 - coche.descuento /
                            100)}}€</span><span> {{coche.precio}}€</span></b> -->
                </a>
            </div>
        </div>
    </div>

</div>