<div *ngIf="coche" class="container">
    <div class="d-flex flex-column flex-md-row gap-3 p-4">

        <div class="d-flex flex-column rounded gap-2 p-3 border border-secondary">
            <div class="d-flex flex-row gap-3">
                <img [src]="coche.imagen" class="rounded border border-black car-image img-fluid" alt="">
                <div class="d-flex flex-column">
                    <p>Origen: {{coche.origen}}</p>
                    <p>Destino: {{coche.destino}}</p>

                </div>
            </div>
            <div class="p-2">
                <div class="d-flex flex-row justify-content-around">
                    <p>Disponibles: {{coche.disponibles}}</p>
                    <b *ngIf="coche.descuento>0" class="fs-5"><span
                            class="text-decoration-line-through text-muted">{{+coche.precio / (1 - coche.descuento /
                            100)}}€</span><span> {{coche.precio}}€</span></b>
                            <b *ngIf="coche.descuento==0">{{coche.precio}}€</b>

                </div>

            </div>
        </div>
        <div class="border border-secondary rounded">
            <form (ngSubmit)="onSubmit()" #formBusqueda="ngForm" class="d-flex flex-column gap-2 w-75 p-3">
                <label for="fechaInicio" class="form-label">Desde: </label>
                <input type="datetime-local" name="fechaInicio" [(ngModel)]="fechaInicio" class="form-control" required
                    id="fechaInicio">
                <label for="fechaFin" class="form-label">Hasta: </label>
                <input type="datetime-local" name="fechaFin" id="fechaFin" [(ngModel)]="fechaFin" class="form-control"
                    required>
                <button *ngIf="coche.disponibles>0" class="btn btn-primary" type="submit"
                    [disabled]="formBusqueda.invalid">Reservar</button>
                <button *ngIf="coche.disponibles==0" class="btn btn-primary" type="submit" disabled>Agotado</button>
                <p class="text-danger" *ngIf="noDisponible">Este coche no está disponible en este horario</p>
                <p class="text-danger" *ngIf="errorFecha">La fecha de devolución es incorrecta</p>
                <p class="text-success" *ngIf="reservado">Has reservado el coche</p>

            </form>
        </div>
    </div>

</div>