    <div *ngIf="coche" class="container">
        <div class="d-flex flex-column flex-md-row gap-3 p-4">

            <div class="d-flex flex-column rounded gap-2 p-3 border border-secondary">
                <div class="d-flex flex-md-row flex-column gap-3">
                    <img [src]="coche.imagen" class="rounded border border-black car-image img-fluid" alt="Imagen coche">
                    <div class="d-flex flex-column">
                        <p>Origen: {{coche.origen}}</p>
                        <p>Destino: {{coche.destino}}</p>

                    </div>
                </div>
                <div class="p-2">
                    <div class="d-flex flex-row justify-content-around">
                        <p>Disponibles: {{coche.disponibles}}</p>
                        <b *ngIf="coche.descuento>0" class="fs-5"><span
                                class="text-decoration-line-through text-muted">{{+coche.precio / (1 - coche.descuento /
                                100)}}€</span><span> {{coche.precio}}€</span></b>
                                <b *ngIf="coche.descuento==0">{{coche.precio}}€</b>

                    </div>

                </div>
                <div class="p-2">
                    <h5>Condiciones de alquiler</h5>
                    <ul class="list-group">
                        <li class="list-group-item bg-body-secondary border-secondary">Edad mínima del conductor: 21 años</li>
                        <li class="list-group-item bg-body-secondary border-secondary">Prohibido usar silla de bebés</li>
                        <li class="list-group-item bg-body-secondary border-secondary">Seguro incluido: básico</li>
                    </ul>
                </div>
            </div>
            <div class="border border-secondary rounded h-100">
                <form (ngSubmit)="onSubmit()" #formBusqueda="ngForm" class="d-flex flex-column gap-2 w-100 p-3">
                    <label for="fechaInicio" class="form-label">Desde: </label>
                    <input type="datetime-local" name="fechaInicio" [(ngModel)]="fechaInicio" class="form-control w-100" required
                        id="fechaInicio">
                    <label for="fechaFin" class="form-label">Hasta: </label>
                    <input type="datetime-local" name="fechaFin" id="fechaFin" [(ngModel)]="fechaFin" class="form-control w-100"
                        required>
                        <input type="hidden" [value]="coche.precio" name="precio">
                    <button *ngIf="coche.disponibles>0" class="btn btn-primary w-100" type="submit"
                        [disabled]="formBusqueda.invalid">Reservar</button>
                    <button *ngIf="coche.disponibles==0" class="btn btn-primary w-100" type="submit" disabled>Agotado</button>
                    <p class="text-danger" *ngIf="diferenciaDias">La diferencia entre fechas no puede ser mayor de 20 dias ni menor a 1</p>
                    <p class="text-danger" *ngIf="diaIncorrecto">Día de salida incorrecto</p>
                    <p class="text-success" *ngIf="reservado">Has reservado el coche</p>

                </form>
            </div>
        </div>

    </div>