<div *ngIf="hotel" class="container">

    <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start gap-3 p-4 parent">

        <div class="d-flex flex-column rounded gap-2 p-3 border border-secondary">

            <div class="d-flex  flex-column gap-3">
                <div>
                    <ng-container *ngFor="let star of stars(hotel.estrellas)">
                        ⭐
                    </ng-container>
                </div>
               
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
                    style="max-width: 400px; height: 300px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a [href]="hotel.imagenes[0]"  [attr.data-lightbox]="'habitacion-' + hotel.id">
                                <img class="d-block w-100 rounded" [src]="hotel.imagenes[0]" alt="Carrousel slide">
                            </a>
                        </div>
                        <div *ngFor="let image of hotel.imagenes.slice(1);let i=index" class="carousel-item">
                            <a [href]="image" [attr.data-lightbox]="'habitacion-' + hotel.id">
                                <img class="d-block w-100 rounded" [src]="image" alt="Carrousel slide">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>

                <div class="d-flex flex-row gap-5 justify-content-around mt-2">
                    <p><b>{{hotel.nombre}}</b></p>

                    <p>{{hotel.direccion}}, {{hotel.localizacion}}</p>
                    <p>Capacidad: {{hotel.capacidad}}</p>
                </div>
                <div>
                    <h5 class="fw-bold">Servicios</h5>
                    <div class="d-flex flex-row flex-wrap gap-2">
                        <span *ngFor="let servicio of hotel.servicios" class="p-2 border rounded bg-body-secondary">
                            {{ servicio }}
                        </span>
                    </div>
                </div>
                <div class="mt-2">
                    <h5 class="fw-bold">Hora de llegada e ida</h5>
                    <div>
                        <p>{{ hotel.hora_apertura.slice(0, -3) }} - {{ hotel.hora_cierre.slice(0, -3) }}</p>
                    </div>

                </div>
                <div class="mt-2">
                    <h5 class="fw-bold">Habitaciones</h5>
                    <div *ngFor="let habitacion of habitaciones" class="d-flex flex-row align-items-center gap-3 mt-2">
                        <div [attr.id]="'habitaciones' + habitacion.id" class="carousel slide" 
                            style="max-width: 200px; height: 150px;">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a [href]="habitacion.imagenes[0]" [attr.data-lightbox]="'habitacion-' + habitacion.id">
                                        <img class="d-block w-100 rounded" [src]="habitacion.imagenes[0]"
                                            alt="Carrousel slide">
                                    </a>
                                </div>
                                <div *ngFor="let image of habitacion.imagenes.slice(1)" class="carousel-item">
                                    <a [href]="image" [attr.data-lightbox]="'habitacion-' + habitacion.id">
                                        <img class="d-block w-100 rounded" [src]="image" alt="Carrousel slide">
                                    </a>
                                </div>
                            </div>
                            <a class="carousel-control-prev" [attr.href]="'#habitaciones' + habitacion.id" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a class="carousel-control-next" [attr.href]="'#habitaciones' + habitacion.id" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        
                       <div>
                         <p>{{habitacion.tipo_habitacion}}: <b><span class="text-muted text-decoration-line-through"
                                    *ngIf="habitacion.descuento>0">{{habitacion.precio_original_noche}}</span>
                                {{habitacion.precio_noche}}</b></p>
                            <p>Capacidad: {{habitacion.capacidad}}</p>
                       </div>
                    </div>
                </div>
                <div class="mt-2">
                    <h5 class="fw-bold">Servicios de comida</h5>
                    <div class="d-flex flex-row flex-wrap gap-2">
                        <span *ngFor="let comidas of hotel.comidas" class="p-2 border rounded bg-body-secondary">
                            {{comidas}}
                        </span>
                    </div>
                </div>

            </div>

        </div>
        <div class="border border-secondary rounded h-100" style="width: 300px;">
            <form (ngSubmit)="onSubmit()" class="d-flex flex-column gap-2 w-100 p-3">
                <label for="fecha_entrada" class="form-label">Día de entrada: </label>
                <input type="date" name="fecha_entrada" [(ngModel)]="fecha_entrada" class="form-control w-100" required
                    id="fecha_entrada">

                <label for="fecha_salida" class="form-label">Día de salida: </label>
                <input type="date" name="fecha_salida" [(ngModel)]="fecha_salida" class="form-control w-100" required
                    id="fecha_salida">
                <label class="form-label" for="comida">Comida: </label>
                <select name="comida" id="comida" class="form-select" [(ngModel)]="comida">
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option [value]="comida" *ngFor="let comida of hotel.comidas">
                        {{comida}}
                    </option>
                </select>

                <label class="form-label" for="habitacion">Selecciona habitación: </label>
                <select name="habitacion" id="habitacion" class="form-select" [(ngModel)]="habitacionSeleccionada">
                    <option [ngValue]="null" disabled selected>Selecciona una opción</option>
                    <option [ngValue]="habitacion" *ngFor="let habitacion of habitaciones"  [disabled]="habitacion.disponibles <= 0">
                        {{habitacion.tipo_habitacion}}: {{habitacion.precio_noche}}€
                        <span *ngIf="habitacion.disponibles<=0">Agotado</span>
                    </option>
                </select>


                <button class="btn btn-primary w-100" type="submit" [disabled]="!isFormValid()">
                    Reservar
                </button>

                <p class="text-danger" *ngIf="rangoIncorrecto">Ha habido un error en las fechas
                </p>
 
                <p class="text-danger" *ngIf="faltaComida">Debes seleccionar el servicio de comida</p>
                
            </form>
        </div>
    </div>

</div>