<div class="container-fluid py-5 d-flex flex-column gap-5">
    <h2 class="text-center">Encuentra el coche ideal para llevarte a donde quieras</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6  col-10">
            <form (ngSubmit)="onSubmit()" #formBusqueda="ngForm">
                <div class="d-flex flex-column flex-md-row gap-2">
                    <input type="text" name="origen" [(ngModel)]="origen" class="form-control" placeholder="Origen *"
                        required>
                    <input type="text" class="form-control" name="destino" [(ngModel)]="destino" placeholder="Destino *"
                        required>
                    <input type="text" class="form-control" name="marca" [(ngModel)]="marca" placeholder="Marca">
                    <input type="text" class="form-control" name="modelo" [(ngModel)]="modelo" placeholder="Modelo">
                </div>
                    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options">
                    </ngx-slider>
               <div class="d-flex flex-row gap-3 mt-3">
                 <button class="btn btn-secondary" type="button" (click)="limpiarFormulario(formBusqueda)">Limpiar</button>
                <button class="btn btn-primary" type="submit" [disabled]="formBusqueda.invalid">Buscar</button>
               </div>
            </form>
        </div>
    </div>
    <div class="w-75 d-flex flex-column gap-3 m-auto" *ngIf="!buscado||filtrar.length==0">
        <h4 *ngIf="filtrar.length==0&&buscado" class="mb-5">No se han encontrado resultados</h4>
        <h3 class="w-100">Échale un vistazo a nuestros mejores coches</h3>
        <p>{{cargando}}</p>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <div *ngFor="let coche of coches.slice(0,20)" class=" p-2 rounded cars card">
                <a [routerLink]="['/detalle-coche', coche.id]" routerLinkActive="active"
                    class="text-decoration-none text-black">
                    <img [src]="coche.imagen" alt="Imagen coche coche.marca coche.modelo" style="width: 200px;height:100px;object-fit: cover;">
                    <p><i class="bi bi-geo-alt-fill"></i> {{coche.origen}} - {{coche.destino}}</p>
                    <p>Marca: {{coche.marca}}</p>
                    <p>Modelo: {{coche.modelo}}</p>
                    <b *ngIf="coche.descuento==0" class="fs-5">{{coche.precio}}€</b>
                    <b *ngIf="coche.descuento>0" class="fs-5"><span
                            class="text-decoration-line-through text-muted">{{coche.precio_original}}€</span><span> {{coche.precio}}€</span></b>
                </a>
            </div>
        </div>
    </div>
    <div class="w-75 d-flex flex-wrap gap-3 m-auto" *ngIf="buscado&&filtrar.length>0">
        <h3 class="w-100">Tus resultados</h3>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <div *ngFor="let filtra of filtrar" class="border border-secondary bg-white p-2 rounded cars card">
                <a [routerLink]="['/detalle-coche', filtra.id]" routerLinkActive="active"
                    class="text-decoration-none text-black">
                    <img [src]="filtra.imagen" alt="Imagen coche filtra.marca filtra.modelo" style="width: 200px;height:100px;object-fit: cover;">
                    <p><i class="bi bi-geo-alt-fill"></i> {{filtra.origen}} - {{filtra.destino}}</p>
                    <p>Marca: {{filtra.marca}}</p>
                    <p>Modelo: {{filtra.modelo}}</p>
                    <b *ngIf="filtra.descuento==0" class="fs-5">{{filtra.precio}}€</b>
                    <b *ngIf="filtra.descuento>0" class="fs-5"><span
                            class="text-decoration-line-through text-muted">{{+filtra.precio / (1 - filtra.descuento /
                            100)}}€</span><span> {{filtra.precio}}€</span></b>
                </a>
            </div>
        </div>
    </div>
</div>