<div class="container mt-4">
  <h1 class="text-decoration-underline">Soporte</h1>
  <p>¿Tienes dudas o problemas con tu reserva? Estamos aquí para ayudarte. Consulta esta guía rápida sobre el uso de nuestra plataforma y algunos detalles importantes que debes tener en cuenta al reservar con HolidaysNow.</p>

  <h2>Guía de la web HolidaysNow</h2>  
  <p>Para ayudarte a usar la plataforma de forma sencilla, te ofrecemos una <strong>ayuda online</strong> donde podrás aprender las acciones básicas que puedes realizar:</p>
  <ul>
    <li><strong>Buscar hoteles o coches:</strong> Usa el buscador en su respectiva página para encontrar tu hotel o coche ideal</li>
    <li><strong>Reservar un hotel o coche:</strong> Selecciona el coche o hotel que te guste, confirma la reserva y selecciona un método de pago</li>
    <li><strong>Gestionar tus reservas:</strong> Accede a tu perfil para ver o cancelar tus reservas según las condiciones.</li>
    <li><strong>Consultar soporte:</strong> Contacta con nuestro equipo en caso de dudas o problemas.</li>
  </ul>

  <h2>Al reservar un viaje en coche</h2>
  <p>Es importante tener en cuenta los siguientes puntos:</p>
  <ul>
    <li>Debes estar en la dirección correspondiente indica en que se te envía por correo electrónico al reservar el coche a las <strong>11:00 AM</strong>. La puntualidad es esencial para que todo funcione sin problemas.</li>
    <li>Si quieres verificar las direcciones antes de reservar, estas están en Información de la Empresa</li>
  </ul>
  
  <h2>Al reservar una habitación de hotel</h2>
  <p>Es importante tener en cuenta los siguientes puntos:</p>
  <ul>
     <li>La hora de entrada y salida del hotel desde el que has reservado es muy importante. Asegúrate de revisar la hora de entrada para evitar retrasos.</li>
  </ul>

  <h2>Contacto</h2>
  <p>Si necesitas más ayuda, no dudes en escribirnos a:</p>
  <ul>
    <li><strong>Correo de contacto:</strong> contacto&#64;holidaysnow.com</li>
  </ul>
  <p>¡Estamos aquí para ayudarte en todo lo que necesites!</p>
</div>
