<div *ngIf="coche" class="container">
    <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start gap-3 p-4 parent">

        <div class="d-flex flex-column rounded gap-2 p-3 border border-secondary">
            <div class="d-flex flex-md-row flex-column gap-3">
                <img [src]="coche.imagen" class="rounded  car-image img-fluid" style="width: 300px;"
                    alt="Imagen coche coche.marca coche.modelo">
                <div class="d-flex flex-column p-2">
                    <p>Origen: {{coche.origen}}</p>
                    <p>Destino: {{coche.destino}}</p>

                </div>
            </div>
            <div class="p-2">
                <div class="d-flex flex-row justify-content-around">
                    <p>Disponibles: {{coche.disponibles}}</p>
                    <b *ngIf="coche.descuento>0" class="fs-5"><span
                            class="text-decoration-line-through text-muted">{{coche.precio_original}}€</span><span>
                            {{coche.precio}}€</span></b>
                    <b *ngIf="coche.descuento==0">{{coche.precio}}€</b>

                </div>

            </div>
            <div class="p-2">
                <h5>Condiciones de viaje</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-body-secondary border-secondary">Prohibido usar silla de bebés</li>
                    <li class="list-group-item bg-body-secondary border-secondary">Seguro incluido: básico</li>
                    <li class="list-group-item bg-body-secondary border-secondary">Solo puedes reservar coches 3 dias
                        despues de la fecha actual</li>
                    <li class="list-group-item bg-body-secondary border-secondary">Hora de salida: 11 AM</li>
                </ul>
            </div>
        </div>
        <div class="border border-secondary rounded h-100" style="width: 300px;">
            <form (ngSubmit)="onSubmit()" class="d-flex flex-column gap-2 w-100 p-3">
                <label for="fechaInicio" class="form-label">Día de salida: </label>
                <input type="date" name="fechaInicio" [(ngModel)]="fechaInicio" class="form-control w-100" required
                    id="fechaInicio">
                <input type="hidden" [value]="coche.precio" name="precio">
                <button *ngIf="coche.disponibles>0" class="btn btn-primary w-100" type="submit"
                    [disabled]="!isFormValid()">
                    Reservar
                </button>

                <button *ngIf="coche.disponibles==0" class="btn btn-primary w-100" type="submit"
                    disabled>Agotado</button>

                <p class="text-danger" *ngIf="diaIncorrecto">Día de salida incorrecto</p>
                <p class="text-danger" *ngIf="faltaLugar">Selecciona el lugar de salida</p>
                <p class="text-success" *ngIf="reservado">Has reservado el coche. Revista tu correo electrónico para ver
                    los detalles </p>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center">

        <a routerLink="/coches" routerLinkActive="active" class="btn btn-secondary ms-lg-4 mb-3 ">Volver</a>

    </div>

</div>